
#box {
    overflow: hidden;
    width: 100%;
    height: 110%;
}

.centerBox>ul {
    margin: 0 auto;
    padding: 0;
}

#box span{
    font-size: 14px;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
} 

/*Plugin CSS*/
.wrap {
	height: 82%;
	overflow: hidden;
}

.wrap li {
	line-height: 40px;
	height: 40px;
}

.wrap li p,
.wraptit {
	font-size: 0;
}

.wrap li span,
.wraptit span {
	display: inline-block;
	font-size: 18px;
	color: rgba(255, 255, 255, .6);
	/* text-align: center; */
}

.wraptit {
	border-bottom: 1px dotted rgba(255, 255, 255, .15);
	padding: 0 0 10px 0;
	margin-bottom: 10px;
}

.wraptit span {
	font-size: 20px;
	color: rgba(255, 255, 255, .8);
}

.wrap li span:nth-child(1),
.wraptit span:nth-child(1) {
	width: 75%
}

.wrap li span:nth-child(2),
.wraptit span:nth-child(2) {
	width: 25%
}

/* .wrap li span:nth-child(3),
.wraptit span:nth-child(3) {
	width: 25%
}

.wrap li span:nth-child(4),
.wraptit span:nth-child(4) {
	width: 20%
} */